name: 'Close stale issues and PRs'
on:
  schedule:
  - cron: '30 1 * * 0'
permissions:
  issues: write
  pull-requests: write
jobs:
  apply:
    uses: palashmon/reusable-workflows/.github/workflows/stale.yml@main
    secrets: inherit
